<%= form_tag admin_password_path, class: 'short_form' do %>
	<%= flash[:admin_password] %><br>
	<div class="field">
		<%= password_field_tag :old, nil, placeholder: 'Старый пароль' %>
	</div>
	<div class="field">
		<%= password_field_tag :new, nil, placeholder: 'Новый пароль' %>
	</div>
	<%= submit_tag 'Изменить' %>
<% end %>