<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :mode, "form" %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'Заголовок' %>
  </div>
  <div class="tags_field">
    Теги:
    <span class="tags">
      <% @story.tags.each do |tag| %>
        <span class="tag" id="<%= tag.short %>"><%= check_box_tag "story[tag[#{tag.short}]]", "1", "1", onclick: "$('.tag##{tag.short}').remove();" %><%= tag.full %></span>
      <% end %>
    </span>
    <select onchange="add_tag(this)">
      <option value="">Добавить...</option>
      <% @tags.each do |tag| %>
        <option value="<%= tag.short %>"><%= tag.full %></option>
      <% end %>
    </select>
  </div>
  <div class="field">
    <%= f.text_area :text, placeholder: 'Текст истории' %>
  </div>
  <div class="actions">
    <%= f.submit 'Отправить' %>
  </div>
<% end %>
