<div class="story" id="story<%= story.id %>">
	<div class="meta">
		<%= link_to story.created_at, story, class: "date" %>
		<span class="rating"><%= story.rating %></span>
		<button onclick="like(<%= story.id %>)">+</button>
		<% if admin? %>
			<% unless story.verified %>
				<%= link_to 'Опубликовать', verify_story_path(story), method: :post %>
			<% end %>
			<%= link_to 'Редактировать', edit_story_path(story) %>
			<%= link_to 'Удалить', story, method: :delete, data: { confirm: 'Вы уверены?' }  %>
		<% end %>
	</div>
	<div class="title">
		<%= story.title %>
	</div>
	<div class="body">
		<%= story.text.html_safe %>
	</div>
</div>