<div class="story" id="story<%= story.id %>">
	<div class="title">
		<%= story.title %>
	</div>
	<div class="meta">
		<%= link_to story.created_at.strftime('%d.%m.%Y %H:%M'), story, class: "date" %>
		<span class="rating"><%= story.rating %></span>
		<button onclick="like(<%= story.id %>)", class="plus_one">+1</button>
		<span class="tags">
			<% story.tags.each do |tag| %>
				<span class="tag"><%= link_to tag.full, tag %></span>
			<% end %>
		</span>
		<% if admin? %>
			<% unless story.verified %>
				<%= link_to 'Опубликовать', verify_story_path(story), method: :post, class: "admin_action" %>
			<% end %>
			<%= link_to 'Редактировать', edit_story_path(story), class: "admin_action" %>
			<%= link_to 'Удалить', story, method: :delete, data: { confirm: 'Вы уверены?' }, class: "admin_action"  %>
		<% end %>
	</div>
	<div class="body">
		<%= story.text.html_safe %>
	</div>
</div>