<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @story.rating %>
</p>

<p>
  <strong>Text:</strong>
  <%= @story.text %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
