<p id="notice"><%= notice %></p>

<h1>Список тегов</h1>

<% if admin? %>
  <%= link_to 'Добавить тег', new_tag_path %>
<% end %>

<% @tags = @tags.sort {|a, b| Unicode::strcmp(a.full,b.full)} %>

<% @tags.group_by { |tag| Unicode::upcase(tag.full)[0] }.each do |letter, tags| %>
  <h2><%= letter %></h2>
  <% tags.each do |tag| %>
    <%= link_to tag.full, tag %>
    <% if admin? %>
      <%= link_to 'Удалить', tag, method: :delete, data: {confirm: 'Вы уверены?'} %>
    <% end %>
    <br>
  <% end %>
<% end %>
