<p id="notice"><%= notice %></p>

<p>
  <strong>Short:</strong>
  <%= @tag.short %>
</p>

<p>
  <strong>Full:</strong>
  <%= @tag.full %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
