<!DOCTYPE html>
<html>
<head>
  <title>Happenoid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to 'HAPPENOID', stories_path %></h1>
<%= link_to 'Добавить', new_story_path %>
<%= link_to 'Все теги', tags_path %>
<% if admin? %>
	<%= link_to 'Изм. пароль', admin_password_path %>
	<%= link_to 'Выйти', admin_path, method: :delete %>
<% else %>
	<%= link_to '/admin', admin_path %>
<% end %> 

<%= yield %>

</body>
</html>
