<!DOCTYPE html>
<html>
<head>
  <title>Happenoid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="container">

		<h1 id="logo"><%= link_to 'HAPPENOID', stories_path %></h1>

		<div class="nav">
			<%= link_to 'Добавить историю', new_story_path, class: 'left' %>
			<%= link_to 'Все теги', tags_path, class: 'left' %>
			<% if admin? %>
				<%= link_to 'Выйти', admin_path, method: :delete, class: 'right' %>
				<%= link_to 'Изменить пароль', admin_password_path, class: 'right' %>
				<%= link_to 'Модерация', unverified_stories_path, class: 'right' %>
			<% else %>
				<%= link_to '/admin', admin_path, class: 'right' %>
			<% end %> 
		</div>

		<%= yield %>

	</div>

</body>
</html>
